@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

}
:root{
    --cor: #ccc;
}
body{
    background: #8c52ff;
}
header{
    display: block;
    width: 100%;
    background: #8c52ff;
    height: 200px;
}
.logo.home-logo{
    margin-top: 100px;
}
.logo{
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
}
.logo img{
    height: 200px;
}
.login{
    text-align: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    margin: 0 auto;
}
.login input{
    height: 40px;
    padding: 3px 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none; 
}
.btn-enviar{
    font-size: 16px;
    background: #8bc34a;
}
.btn-enviar:hover{
    cursor: pointer;
}
